@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
.header{
	text-align: center;
    font-size: 30px;
    color: #000;
   text-decoration: underline;
    padding-bottom: 5px;
}


/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  border-bottom: 1px solid black;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  border: thin
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cover.jpg");
  /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-image button {
  background-color: rgba(206, 206, 206, 0.59);
  color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.intro {
  background-color: rgba(220, 220, 220, 0.59);
  display: flex;
  justify-content: center;
  padding: 15px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
 
	 

	margin: 15px;
}
.intro img {
  padding: 100;
}
.skills {
  border-radius: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 20px;
}
.skills h5 {
  font-size: 25px;
  font-weight: bolder;
}
/* Three columns side by side */
.column {
  float: left;
  width: 25.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.row img{
	  border: 2px solid rgba(136,136,136,1.00);
}
/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}
/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.title {
  color: grey;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
}
.button:hover {
  background-color: #555;
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: rgba(220, 220, 220, 0.59);
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  margin: 5px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
/* Set a specific color for each brand */
/* Facebook */
.fa-instagram {
  background: #fb3958;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-envelope {
  background: rgba(0, 0, 0, 1.00);
  color: white;
}
.contact-section {
  text-align: center;
}